@import url("https://fonts.googleapis.com/css?family=Cinzel:400,700");
// @import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import "card";

:root {
  --bs-primary: #ff6f61;
  --bs-primary-rgb: 255, 111, 97;
  --bs-link-color: #ff6f61;
  --bs-link-color-rgb: 255, 111, 97;
}

html {
  -webkit-overflow-scrolling: touch;
}

.disclaimer-link {
  text-decoration: none;
  &:hover {
    color: #ff2915;
    text-decoration: underline;
  }
}

.h-30vh-max-50vw {
  height: 30vh;
  max-height: 50vw;
}
.h-90vh {
  height: 90vh;
}
.h-modal-body {
  height: calc(100vh - 96px);
}

.fixed-bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.font-family-cinzel {
  font-family: "Cinzel", serif;
}

.py-10vh {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.viewport {
  height: 100vh;
  width: 100vw;
}
