.timeline {
  position: relative;
  padding: 1rem;
  padding-left: 0.75rem;
  @include media-breakpoint-up(md) {
    padding: 2rem;
  }
}

// Vertical line
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1.875rem;
  height: 100%;
  width: 0.25rem;
  background: white;
}
@include media-breakpoint-up(md) {
  .timeline.timeline--two-columns:before {
    left: 50%;
    margin-left: -0.125rem;
  }
}
