<% content_for :assets do %>
  <%= javascript_include_tag "cloudinary-tag-gallery", type: "module", data: { gallery_path: asset_path(:js, "gallery.js") } %>
<% end %>

<div class="py-10vh bg-primary text-white">
  <div class="container text-center font-family-cinzel">
    <h1>Léa</h1>
  </div>
</div>

<div id="gallery" data-cloudinary-tag="lea">
</div>

<div class="py-5 bg-primary text-white">
  <div class="container text-center font-family-cinzel">
    <h3>pAris m'Appartient !</h3>
  </div>
</div>
