<div
  class="viewport"
  style="background-image: url(<%= image_path('jeangelique-save-the-date.gif') %>); background-position: center; background-size: contain;">
</div>

<div class="fixed-bottom-right mx-3 my-2">
  <%= link_to 'Disclaimer', 'disclaimer', class: 'disclaimer-link' %>
</div>
